{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
  },
  "ecmaFeatures": {
    "generators": true,
  },
  "globals": {
    "__DEV__": true,
  },
  "parser": "babel-eslint",
  "rules": {
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/object-shorthand": 1,
    "babel/arrow-parens": 1,
    "babel/no-await-in-loop": 1,
    "array-bracket-spacing": [1, "always", {
      "singleValue": true,
      "objectsInArrays": false,
      "arraysInArrays": true,
    }],
  },
  "plugins": [
    "babel",
    "react",
  ],
}
